
html,
body,
canvas,
main {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main aside a {
  color: #595959;
  font-size:30px;
}
main aside h1 {
  padding: 1rem;
  color: #fff;
}
main aside ul {
  list-style: none;
  padding: 1rem;
  margin: 0;

}
main aside ul li {
  font-size: 20px; 
  margin-bottom: 5px;
  padding: .3rem 0;
  overflow: hidden;
}
main .main-container {
  background-image: url('../img/back.jpg');
  overflow: auto;
}
main .main-container section {
  padding: 1rem;
  margin: 40px;
  box-shadow: 0px 0px 12px #a1a1a1;
  background-color: #f1f1f1;
  padding-bottom: 40px;
}

/***************************************
** about me
****************************************/
#about #avatar img {
  border-radius: 100%;
}

#contact {
  vertical-align: middle;
  text-align: center;
}

#contact a img {
  display: inline-block;;
  width: 70px;
}

#rightc p {
  color: #3d3d3d;
  margin-top: 0px;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 17%;
  height: 10%;
}

.right {
  width: 70%;
  height: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/***************************************
** subsection style
****************************************/
.subsection p {
  padding-left: 30px;
}

/***************************************
** sections style
****************************************/
section header p {
  padding-left: 30px;
}

section header h1 {
  color: #f1f1f1;
  border-radius: 5px;
  background-color: #5cbbb9;
  padding: 7px;
  box-shadow: 0px 0px 12px #9bcccb;
  font-size: 45px;
  font-weight: 400;
  font-style: bold;
  display:inline-block;
}

section div h2 {
  color: #468bac;
  font-weight:300;
  font-style: normal;
}

section div h3 {
  color: #468bac;
  font-weight:300;
  font-size: 18px;
  padding-left: 30px;
}

section div h4 {
  color: #468bac;
  font-weight:300;
  font-size: 16px;
  padding-left: 30px;
  font-style: italic;
}

section div h5 {
  color: #5cbbb9;
  font-weight:300;
  font-size: 16px;
  padding-left: 30px;
  font-style: italic;
}

/***************************************
** debug with border
****************************************/
.test {
  border: 4px dashed red !important;
}

/***************************************
** > 16,6 / 2 screen dimmensions
****************************************/
@media only screen and (min-width : 993px) {

  main aside {
    background-color: #f1f1f1;
    flex: 0 0 380px;
    display: inherit;
    flex-direction: column;
    text-align: center;
  }
}

/***************************************
** <= 15,6 / 2 screem
****************************************/
@media only screen and (max-width : 992px) {
  main {
    font-size:23px;
  }
  main aside {
    display: none;
    width: 100%;
    height: auto;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main aside h1 {
    width: 100%;
  }
  main aside ul {
    display: flex;
    width: 100%;
  }
  main aside ul li {
    flex: 1;
    padding: 16px 5px;
  }
  main .main-container {
    flex: 1;
    order: 2;
  }
}