
body {
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #636FA4, #e8e7e2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #636FA4, #e8e7e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}


/* Main container */

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 900px;
}


/* Header */

.header {
  position: relative;
  background-color: #222222;
  color: white;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 40px;
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}
.header h1 {
  font-weight: 400;
  margin: 5px;
}
.header h2{
  font-weight: 300;
  margin: 0 0 0.5em 0;
}
.header-img {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}
.header-img img {
  max-width: 110%;
  border-radius: 50%;
}

/* fa style */

.fa {
  padding: 2%;
  padding-bottom: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #FFAA00;
}
.fa:hover {
  color: #ffffff;
  font-style: oblique;
}


/* Options */

.option {
  margin: 25px 0;
  text-align: center;
}
.option .show {
  border-color: #FFAA00;
  color: #FFAA00;
}
.option-text {
  display: none; /* para el switch*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: white;
}
.option-text.show {
  display: block;
}
.option-text h2 {
  color: #2b2b2c;
  font-weight: 250;
  margin: 0 0 0.5em 0;
}


/* Resources */

.resource {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  margin-bottom: 5px;
}
.resource h3 {
  color: #2b2b2c;
  font-weight: 250;
  margin: 0 0 0.5em 0;
}
.resource img {
  width: 130px;
  height: 200px;
}
.resource-content {
  display: flex;
  flex-direction: row;
}
.resource-text {
  margin-left: 10px;
  font-size: medium;
}


/* General Style */
@media (max-width: 628px) {
  .option button {
    margin: 5px;
  }
  .resource-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .resource-text {
    margin-top: 14px;
  }
}

.thisIsAButton {
	background-color:#3d3a3a;
  border-radius: 15px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size: 1rem;
	font-weight:bold;
	padding:4px 10px;
}
.thisIsAButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #c08103 100%);
  background: -webkit-linear-gradient(to bottom, #634b30 5%, #c08103 100%);
}
.thisIsAButton:link {
  text-decoration: none;
}

button {
  font-weight: bold;  
  width: auto;
  min-width: 120px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  background-color: #3d3a3a;
}
button:hover {
	background:linear-gradient(to bottom, #634b30 5%, #c08103 100%);
  background: -webkit-linear-gradient(to bottom, #634b30 5%, #c08103 100%);
}

ul {
  list-style-type: none;
}


::-moz-selection {
  background: #f2cc6d;
}

::selection {
  background: #f2cc6d;
}
