
body {
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #636FA4, #e8e7e2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #636FA4, #e8e7e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* Main container */

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 800px;
}


/* Header */

.header {
  align-items: center;
  background-color: #222222;
  color: white;
  border-radius: 7px;
  padding: 25px;
  margin-bottom: 60px;
}
.header-text {
  margin: 15px;
}
.header-text h1 {
  font-weight: 400;
  margin: 0;
}
.header-text h2{
  color:white;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}
.header-img {
  width: 100px;
  height: 100px;
}
.header-img img {
  max-width: 100%;
  border-radius: 50%;
}
.header-links  a:hover {
  font-weight: bold;
}


/* fa style */

.fa {
  padding: 3%;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Options */

.option {
  margin: 25px 0;
  text-align: center;
}
.option .show {
  border-color: #FFAA00;
  color: #FFAA00;
}
.option-text {
  display: none; /* para el switch*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f4f0fc;
}
.option-text.show {
  display: block;
}
.option-text h3 {
  color: #2b2b2c;
  font-weight: 250;
  margin: 0 0 0.5em 0;
}
.option-text h4 {
  color: #747171;
  font-weight: 200;
  margin: 0 0 0.5em 0;
}
@media (max-width: 628px) {
  .option button {
    margin: 5px;
  }
  .header-text {
    align-items: center;
    justify-content: center;
  }
}

/* General Style */

button {
  font-weight: bold;  
  width: auto;
  min-width: 120px;
  height: 30px;
  border: 2px solid #222222;
  border-radius: 15px;
  box-sizing: border-box;
  color: #222222;
  font-size: 1rem;
  background-color: #3d3a3a;
}

button:hover {
	background:linear-gradient(to bottom, #634b30 5%, #c08103 100%);
}

ul {
  list-style-type: none;
}

.img_r {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}